<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="topmenu">
	<select id="get_topmenu_list" resultType="com.book.beans.BoardInfoBean">
		<![CDATA[
		select info_idx, info_name ,mapping
			from gy_info_table
			order by info_idx 
		]]>
	</select>
</mapper>